@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

html, body{
    margin: 0;
    padding: 0;
    font-family: "Karla", sans-serif;
    background: hsl(206, 47%, 93%);
}

main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}